<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC 
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.bs.filters.AuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>LoggingFilter</filter-name>
		<filter-class>com.bs.filters.LoggingFilter</filter-class>
	</filter>
		
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Struts Configuration Information -->	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>
				application
			</param-name>
			<param-value>
				Resources
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.bs.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.bs.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.bs.servlets.UploadServlet</servlet-class>
		<init-param>
			<param-name>filedir</param-name>
			<param-value>C:\software\specs</param-value>
		</init-param>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>UploadServlet</url-pattern>
	</servlet-mapping>
	
	<!--
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>testrole</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>DIGEST</auth-method>
	</login-config>
	
	<security-role>
		<role-name>testrole</role-name>
	</security-role>
	-->
	
	<taglib>
		<taglib-uri>/bean</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tiles</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/html</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/logic</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/template</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/mytags</taglib-uri>
		<taglib-location>/WEB-INF/mytags.tld</taglib-location>
	</taglib>
	
	<ejb-ref>
		<ejb-ref-name>ejb/Users</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.bs.ejb.UsersRemoteHome</home>
		<remote>com.bs.ejb.UsersRemote</remote>
		<!-- <ejb-link>com.bs.ejb.UsersBean</ejb-link> -->
	</ejb-ref>
	
	<ejb-ref>
		<ejb-ref-name>ejb/Books</ejb-ref-name>
		<ejb-ref-type>Entity</ejb-ref-type>
		<home>com.bs.ejb.BookRemoteHome</home>
		<remote>com.bs.ejb.BookRemote</remote>
		<!-- <ejb-link>com.bs.ejb.UsersBean</ejb-link> -->
	</ejb-ref>
	
	
</web-app>